<main>
  <h1>Welcome to the test bench for memory leaks</h1>
  <h2>Steps:</h2>
  <ol>
    <li>0. Bellow you should see the list of all movies by Studio Ghibli. That's a GET request. The console shows every time
      we fetch them.</li>
    <li>1. Go to Dev Tools and click the Memory tab.</li>
    <li>2. Take a Heap Snapshot.</li>
    <li>3. Look for SubscriberComponent and check the Objects Count.</li>
    <li>4. Rename the snapshot and save it (optional).</li>
    <li>5. Go to both app.component.ts and app.module.ts and shift the wrong subscriber component with the right one.</li>
    <li>6. Repeat steps 1 to 4 and compare.</li>
  </ol>
  <br>
  <div>-------------------------------------------</div>
  <ng-container #container>
    <app-subscriber></app-subscriber>
  </ng-container>
</main>
